nav {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: var(--headerHeight);
    color: white;
    width: 100%;
}

.nav-link {
    flex-basis: 70%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-style: italic;
    list-style: none;
}

.nav-link a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* margin-top: 20px;
    margin-bottom: 20px; */
}

.nav-link a:hover {
    background-color: #FFF;
    color: #249FA6;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-basis: 30%;
}


/* Dropdown Button */

.dropbtn {
    background-color: rgb(36, 159, 166);
    color: white;
    height: 30px;
    font-size: 14px;
    font-style: italic;
    border: none;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFF;
    text-align: start;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #ddd;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
    color: #249FA6;
    background-color: #FFF;
}