.physiotherapyContainer {
    display: flex;
    flex-direction: column;
}

.physiotherapyHeader {
    /* width: 100vw; */
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../img/anoba_bg_final-01.svg");
    background-size: cover;
    opacity: 1;
    color: white;
    text-shadow: 2px 2px black;
}

.physiotherapyHeaderContent {
    width: 35vw;
}

.psyArticleContainer {
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.psyArticle {
    width: 60%;
    height: 30vh;
    display: flex;
    margin: 10px 0px;
}

.psyArticleDetails {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.psyArticleDetails h1 {
    color: #249FA5;
}

.psyArticleText {
    line-height: 1.8em;
}

.separator {
    height: 10vh;
    background-color: #249FA5;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
}

.separatorContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: auto;
    padding: 0 22.5% 0 22.5%;
}

.psyArticleImage {
    flex-basis: 30%;
    height: 25vh;
    margin: 0px 20px;
}

.separatorText {
    text-align: justify;
    line-height: 1.8rem;
}

.separatorHeader {
    font-size: 24px;
    font-weight: bolder;
    color: #249FA5;
    margin-top: 50px;
    text-align: left;
    margin-bottom: 20px;
}

.phiContentContainer {
    display: flex;
    flex-direction: column;
}

.phiAboutItems {
    display: flex;
    margin-top: 100px;
}

.phiItems {
    padding: 0 60px 0 60px;
}

.phiItemImg {
    height: 200px;
}

.phiItemTitle {
    font-size: 20px;
    color: #249FA6;
    font-weight: bold;
}

.phiItemText {
    font-size: 16px;
    line-height: 23px;
}

.puntaNa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.puntaNaText {
    color: #249FA6;
    font-weight: bold;
    font-size: 20px;
}

.puntaNaBtn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    font-style: italic;
    border-radius: 7px;
    background-color: #B0D264;
}